@import "tailwindcss";

* {
	box-sizing: border-box;
}

@theme {
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-boxBorder: var(--border);
	--color-primaryShadow: var(--primaryShadow);
	--color-textMuted: var(--text-muted);
	--color-label: var(--text-label);
	--font-archivo: "Archivo Variable";
	--font-inter: "Inter Variable";
	--text-18: 18px;
	--text-16: 16px;
	--text-14: 14px;
	--text-12: 12px;
	--text-56: 56px;
}

:root {
	--background: #fbfbfeff;
	--primary: #8b5cf6ff;
	--border: #6e7787ff;
	--primaryShadow: #8b5cf633;
	--text-muted: #6e7787ff;
	--text-label: #323743ff;
}

@font-face {
	font-family: "Archivo Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/archivo:vf@5.3.0/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308,
		U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@5.3.0/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308,
		U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-color: var(--background);
}
